@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap');

.container{
    background-color: #080C22;
    max-width: unset !important;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('\src\assets\imagens\fundo_degrade.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 80%; */
    height: 100vh;
    margin-top: -81px;

  }

  .borda{
    width: 100%;
    height: 1px;
    border-top: 0.4px solid #D8D8D8;
    position: relative;
    z-index: 1;
  }

.titulo{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    max-width: 550px;

    color: #FFFFFF;

}

.titulo p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 15px;
    color: #FFFFFF;
}

.titulo span{
    font-weight: 700;
    color: #FFFFFF;
}

.quantidades{
    margin-top: 50px;
}

.quantidade{
    margin-bottom: 20px;
}

.quantidade h1{
    color: #C8AE7B;
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
    font-family: "Noto Serif HK", serif;

}

.quantidade p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;

}

.falar{

    padding: 11px 20px 11px 20px;
    background-color:  #C8AE7B;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

}

.conteudo-informacoes{
    background-color: #F6F6F6;
}

.informacoes{
    display: flex;
    justify-content: space-between;
    width: var(--width);
    margin: auto;
}

.informacoes h1{
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 16px;
}

.texto-info span {
    font-weight: 700;
}

.informacoes p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;

}

.texto-info{
    max-width: 625px;
}

.informacoes{
    padding-top: 100px;
    gap: 30px;
    padding-bottom: 50px;
}

.conteudo-servicos{
    background-color: #FFFFFF;
    margin-bottom: 100px;
}

.servico{
    width: var(--width);
    margin: auto;
}

.servicos{
    padding-top: 100px;
    text-align: center;
    width: var(--width);
    margin: auto;
    margin-bottom: 20px;
}

.servicos h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 47px;
}

.servicos p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 16px;
    text-align: justify;
}

.cartas-personalizadas{
    width: 25vw;
    height: 636px;
    background-image:
    linear-gradient(180.04deg, rgba(0, 0, 0, 0) 36.72%, rgba(0, 0, 0, 0.96) 99.97%),
    url('\src\assets\imagens\fundo_cartas.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;

    
}

.blocos{
    display: flex;
    gap: 1vw;
    justify-content: center;
}

.topo, .inferior {
    height: 50%;
    display: flex;
}

.formacao{
    width: 25vw; /* 40% da largura da viewport */
    margin-right: 1vw; /* Espaçamento de 1% da largura da viewport */
    margin-bottom: 1vw; /* Espaçamento de 1% da largura da viewport */
    background-image:
    linear-gradient(180.04deg, rgba(0, 0, 0, 0) 36.72%, rgba(0, 0, 0, 0.96) 99.97%),
    url('\src\assets\imagens\formacao.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.intermediacao{
    width: 80%;
    margin-bottom: 1vw;
    background-image:
        linear-gradient(180.04deg, rgba(0, 0, 0, 0) 36.72%, rgba(0, 0, 0, 0.96) 99.97%),
        url('\src\assets\imagens\intermediacao.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.negocios {
    width: 34vw;
    margin-right: 1vw;
    background-image:
        linear-gradient(180.04deg, rgba(0, 0, 0, 0) 36.72%, rgba(0, 0, 0, 0.96) 99.97%),
        url('\src\assets\imagens\negocios.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}


.consultoria{
    width: 100%;
    background-image:
    linear-gradient(180.04deg, rgba(0, 0, 0, 0) 36.72%, rgba(0, 0, 0, 0.96) 99.97%),
    url('\src\assets\imagens\consultoria.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.cartas-personalizadas, .formacao, .intermediacao, .negocios, .consultoria{
    display: flex;
    flex-direction: column-reverse;

}

.cartas-personalizadas p, .formacao p, .intermediacao p, .negocios p, .consultoria p{
    padding: 10px;
}

.confianca{
  color: #FFFFFF !important;
 }


@media (max-width: 1015px) {

   .conteudo{
    background-position: center ;
    flex-direction: column;
    align-items: center;
    padding-top: 270px;
    text-align: center;

   }

   .servicos{
    text-align: unset;
    margin: unset;
    width: 100%;
    margin-bottom: 20px;
   }

   .titulo h1, .quantidade h1{
    font-size: 32px;
    line-height: 40px;

   }


   .quantidades{
    display: flex;
    gap: 30px;
   }

   .informacoes{
    flex-direction: column-reverse;
   }

   .blocos, .topo , .inferior{
    display: block;
   }

   .cartas-personalizadas, .formacao, .intermediacao, .negocios, .consultoria{
    width: 100%;
    height: 280px;
   }

   .blocos > div, .blocos > div > div > div{
    margin-bottom: 20px;
   }
}
