<app-menu-superior ></app-menu-superior>
<div class="container">
    <div class="borda"></div>
    <div class="conteudo">

        <div class="bloco-apresentacao">
            <div class="titulo">
                <h1>Expertise e Confiança <br>
                    em <span>Garantias Financeiras</span>
                </h1>
                <p>Nossa equipe especializada está pronta para entender suas necessidades e oferecer suporte personalizado em cada etapa do caminho.</p>
                <button class="falar">Fale com um de nossos especialistas</button>
            </div>            
        </div>
        
        <div class="quantidades">
            <div class="quantidade">
                <h1>30</h1>
                <p>Anos de<br> experiência</p>
            </div>

            <div class="quantidade">
                <h1>+6000</h1>
                <p>Clientes <br> atendidos</p>
            </div>

            <div class="quantidade">
                <h1>100%</h1>
                <p>De satisfação</p>
            </div>
        </div>

    </div>

    <div class="conteudo-informacoes">

        <div class="informacoes">
            <div class="texto-info">
                <h1><span>BNCGBank</span>, Sólida Experiência<br>
                    Soluções Personalizadas</h1>

                <p>Construímos nossa reputação com base em uma sólida experiência de mais de 30 anos no mercado de garantias financeiras. Nossa equipe dedicada oferece soluções personalizadas que atendem às necessidades específicas de cada cliente, garantindo segurança e tranquilidade em todas as transações. Descubra como nossa expertise pode impulsionar o seu sucesso financeiro.</p>
            </div>

            <div class="imagem-info">
                <img src="assets/imagens/fundo_logo.png" alt="">
            </div>
        </div>
            
    </div>


    <div class="conteudo-servicos" id="servicos">
        <div class="servico">
            <div class="servicos">
                <h1>Nossos produtos e serviços</h1>
                <p>Construímos nossa reputação com base em uma sólida experiência</p>
            </div>

            <div class="blocos">
                <div class="cartas-personalizadas">
                    <p>Cartas <br>Fianças Personalizadas </p>
                </div>

                <div>
                    <div class="topo">
                        <div class="formacao">
                            <p>Formação de <br> Consórcios para Licitações</p>
                        </div>

                        <div class="intermediacao">
                            <p>Intermediação na <br>Compra e Venda de Empresas</p>
                        </div>
                    </div>

                    <div class="inferior">
                        <div class="negocios">
                            <p>Negócios <br>Brasil-China com a CCIBC</p>
                        </div>

                        <div class="consultoria">
                            <p>Consultoria <br> Financeira Especializada</p>
                        </div>
                    </div>

                </div>



                
            </div>
        </div>
    </div>
</div>

<app-contato id="contato"></app-contato>
<app-rodape></app-rodape>