<div class="container">
  <div class="conteudo">
    <div class="logo" (click)="redirecionaHome()">
      <img src="assets/imagens/logo.png" alt="" >
    </div>

    <div class="menu">
      <ul>
        <li><a >Serviços</a></li>
        <li><a href="cadastro">Cadastro</a></li>
        <li><a >Contato</a></li>
        <button class="fale">Fale conosco</button>
        <a href="pin"><button class="conta">Minha conta</button></a>
      </ul>
    </div>

    <button class="hamburguer">☰</button>

  </div>
</div>