.container{
    background-color: #080C22;
    max-width: unset !important;

}

.hamburguer{
    color: white;
    display: none;
}




.conteudo{
    width: var(--width);
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 16px;
}

.menu ul li{
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 24px;
}

.conta{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 13px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.fale{
    border: 1px solid #C8AE7B;
    color: #C8AE7B;
    padding: 6px 13px;
    height: 38px;
}

.logo{
    max-width: 200px;
    cursor: pointer;
}

.logout{
  height: 20px;
  cursor: pointer;
}

@media (max-width: 1015px) {
    .menu {
        display: none;
    }

    .hamburguer{
        display: unset;
    }


}

.alterarCor{
    color: #080C22 !important;
}

::ng-deep mat-icon{
    color: white !important;
    cursor: pointer !important;
}

.menu-button{
  display: flex;
  align-items: center;
}

::ng-deep .botao-sair {
  background-color: #C8AE7B !important;
  color: white !important;
  box-shadow: none !important;
}

::ng-deep .botao-cancelar {
  background-color: #080C22 !important;
  color: white !important;
}

::ng-deep .botao-cancelar:hover {
  box-shadow: none !important;
}

.menu-branco{
  background-color: white;
  border-bottom: 0.4px solid #D8D8D8
}

.menu-branco a{
    color: #080C22 !important;
}

nz-drawer{
    display: none;
}

.conteudo_hamburguer{
    display: flex;
    flex-direction: column;
}

.conteudo_hamburguer a{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.4px solid #D8D8D8;
}

.conteudo_hamburguer a:hover{
    background-color: #c6c6c6;
    color: white;
}