<div class="container" [ngClass]="{'menu-branco': rota}">
  <div class="conteudo">
    <div class="logo" (click)="redirecionaHome()">
      <img src="assets/imagens/logo.png" alt="" *ngIf="!rota">
      <img src="assets/imagens/menu-branco.png" alt="" *ngIf="rota">
    </div>

    <div class="menu">
      <ul>
        <li><a (click)="scrollToService()" routerLink="/home" fragment="servicos" >Serviços</a></li>
        <li><a routerLink="/cadastro">Cadastro</a></li>
        <li><a (click)="scrollToContato()">Contato</a></li>
        <button class="fale">Fale conosco</button>
        <a routerLink="/pin"><button class="conta">Minha conta</button></a>
        <img src="assets/imagens/logout.svg" alt="" class="logout" (click)="deslogar()" *ngIf="usuarioLogado">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu-button" *ngIf="admin">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/emitente">
              <span >Cadastrar Emitente</span>
            </button>
            <button mat-menu-item routerLink="/favorecido">
              <span>Cadastra Favorecido</span>
            </button>
            <button mat-menu-item routerLink="/proposta">
              <span>Cadastra Proposta</span>
            </button>
            <button mat-menu-item routerLink="/lista-de-propostas">
              <span>Listar Propostas</span>
            </button>
          </mat-menu>
      </ul>
    </div>

    <button class="hamburguer" (click)="open()" [ngClass]="{'alterarCor': rota}">☰</button>

    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Menu"
      (nzOnClose)="close()"
      [nzWidth]="320"
    >
      <ng-container *nzDrawerContent>
        <div class="conteudo_hamburguer">
          <a routerLink="/home">Home</a>
          <a routerLink="/servicos">Serviços</a>
          <a routerLink="/cadastro">Cadastro</a>
          <a routerLink="/contato">Contato</a>
          <a (click)="redirecionarParaWhatsapp()">Fale conosco</a>
          <button class="fale" routerLink="/pin">Minha conta</button>
        </div>
      </ng-container>
    </nz-drawer>

  </div>
</div>
