
  <app-menu-superior></app-menu-superior>
  <div class="container">

    <div class="conteudo">

      <h1 class="titulo">Cadastrar favorecidos</h1>

    <form [formGroup]="formulario">
      <div class="form-group">
        <input type="text" class="form-control"  formControlName="favorecido" placeholder="Favorecido:">
      </div>

      <div class="form-group">
        <input type="text" class="form-control"  formControlName="cpf_cnpj"
        placeholder="CPF/CNPJ:">
      </div>
      <Div class="botao">
      <button type="submit" (click)="cadastrar()">Cadastrar</button>
      </Div>
    </form>

    <div class="tabela">
      <table>

        <tr>
          <th>ID</th>
          <th>Emitente</th>
          <th>CPF/CNPJ</th>
          <th>Rua</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>UF</th>
          <th>CEP</th>
          <th>Nome Contato</th>
          <th>Telefone</th>
          <th> <button ><img src="../../../assets/imagens/editar-texto.png" alt=""></button></th>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>
        <tr>
          <td>000</td>
          <td>Electrolux</td>
          <td>124.889.169-43</td>
          <td>Rua Dep Waldemiro Pedroso</td>
          <td>Novo Mundo</td>
          <td>Curitiba</td>
          <td>PR</td>
          <td>81.050-150</td>
          <td>Matheus</td>
          <td>41 9 96986501</td>
          <td>botao</td>
        </tr>

      </table>
    </div>

    </div>

  </div>