.container{
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #292929;
    border-top: solid 1px #000000;
    justify-content: center;
    background-color: #ebebeb;
    gap: 10px;
    padding-top: 50px;
    min-height: calc(100vh - 80px);

}


.conteudo_tabela h1{
  font-size: 28px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}



.botao{
    display: flex;
    justify-content: center;
}

.botao button{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 20px;
    width: 133px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 15px;

}

.form-group input, select{
  width: 250px;
  border: 0.7px solid #b9bcce;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 10px;
  color: #292929
}


.tabela{
    display: flex;
    justify-content: center;
}



th{
    border-bottom: solid 1px rgb(83, 83, 83);
}

th, td {
    padding: 15px;
}



/* @media (max-width: 1015px) {
 .container{
  height: calc(100vh - 225px);
 } */


.largura-celula{
  width: 70px;
}

.invalid-field {
  border-color: red !important;
}

.conteudo_tabela{
  width: 90%;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 100px;
}

::ng-deep nz-pagination{
  display: flex !important;
  justify-content: center !important;
  padding: 15px !important;
}
