.container{
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #292929;
    border-top: solid 1px #000000;
    justify-content: center;
    background-color: #ebebeb;
    gap: 10px;
    padding-top: 80px;
}

.conteudo_tabela{
  width: 100%;
}

.conteudo_tabela h1{
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.form-control{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #222222;
    font-size: 16px;
    color: #292929;
    background-color: #cccccc;
    box-shadow: none;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

form{
    padding-bottom: 80px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}



.botao{
    display: flex;
    justify-content: center;
}

.botao button{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 20px;
    width: 133px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.form-group input{
    width: 250px;
    border: 0.7px solid #b9bcce;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

.tabela{
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.table{
  width: 50%;
}


th{
    border-bottom: solid 1px rgb(83, 83, 83);
}

th, td {
    padding: 15px;
}



/* @media (max-width: 1015px) {
 .container{
  height: calc(100vh - 225px);
 } */


.largura-celula{
  width: 70px;
}
