.container{
    max-width: unset;
    background-color: #ebebeb;
    border-top: solid 1px rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 80px);
}


.conteudo{
    display: flex;
    justify-content: center;
}

.tabela{
        border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


// .larguraEmi, .larguraFav{
//     width: 200px !important;
// }


.larguraVal, .larguraPin{
    width: 100px;
}

.larguraVenc{
    width: 115px;
}

.larguraStatus{
    width: 75px;
}

.larguraValC{
    width: 96px;
}

.larguraData{
    width: 140px;
}

.larguraDelet, .larguraEdit, .larguraCertif, .larguraCarta{
    width: 78px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.tabela{
    width: 90%;
}

@media (max-width: 767px) {
    /* Define o tamanho das colunas em dispositivos pequenos */
    th, td {
        font-size: 12px;
        padding: 8px;
    }

    .larguraEmi, .larguraFav {
        display: none;
    }
}

@media (max-width: 1400px) {
    /* Define o tamanho das colunas em dispositivos extra pequenos */
    th, td {
        font-size: 10px;
        padding: 5px;
    }

}

::ng-deep nz-pagination{
    display: flex !important;
    justify-content: center !important;
    padding: 15px !important;
  }
  

 ::ng-deep nz-empty{
    display: none !important;
  }


  tbody img{
    width: 25px;
  }



  ::ng-deep .botao-sair {
    background-color: #C8AE7B !important;
    color: white !important;
    box-shadow: none !important;
  }
  
  ::ng-deep .botao-cancelar {
    background-color: #080C22 !important;
    color: white !important;
  }
  
  ::ng-deep .botao-cancelar:hover {
    box-shadow: none !important;
  }
  
  .menu-branco{
    background-color: white;
    border-bottom: 0.4px solid #D8D8D8
  }