.container{
    max-width: unset;
    background-color: #ebebeb;
    border-top: solid 1px rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 80px);
}


.conteudo{
    display: flex;
    justify-content: center;
}

.larguraId{
    width: 60px;
}

.larguraPin{
    width: 80px;
}

.larguraVal{
    width: 100px;
}

.larguraValC{
    width: 100px;
}

.larguraVenc{
    width: 120px;
}

.larguraData, .larguraData, .larguraSubir{
    width: 100px;
}

.larguraUp{
    width: 80px;
}

.larguraEdit, .larguraCarta, .larguraCertif, .larguraStatus{
    width: 75px;
}

.larguraDelet{
    width: 80px;
}


.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.tabela{
    width: 90%;
}