<app-menu-superior></app-menu-superior>
<div class="container">    
    <div class="conteudo">
        <div class="tabela">
            <h1 class="titulo">Lista de propostas</h1>
            <div class="conteudo_tabela">
                <nz-table #sortTable nzTableLayout="fixed" [nzData]="proposta" [nzShowPagination]="false" class="table">
                <thead>
                    <tr>
                        <th class="larguraEmi">Emitente</th>
                        <th class="larguraFav">Favorecido</th>
                        <th class="larguraPin">PIN</th>
                        <th class="larguraVal">Valor</th>
                        <th class="larguraValC">Valor Cobrado</th>
                        <th class="larguraVenc">Vencimento</th>
                        <th class="larguraStatus">Status</th>
                        <th class="larguraData">Data de Emissão</th>
                        <th class="larguraCarta">Carta</th>
                        <th class="larguraCertif">Certif.</th>
                        <th class="larguraDelet">Deletar</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of propostaPaginada">
                        <td class="larguraEmi">{{ item.emitente }}</td>
                        <td class="larguraFav">{{ item.favorecido }}</td>
                        <td>{{ item.numeroDocumento }}</td>
                        <td>R${{ item.valor }}</td>
                        <td class="larguraValC">R${{ item.valorCobrado }}</td>
                        <td class="larguraVenc">{{ item.vencimento }}</td>
                        <td>{{ item.statusPagamento }}</td>
                        <td class="larguraData">{{ item.dataEmissao }}</td>
                        <td class="largura-celula" (click)="retornarPropostaPorId(item.numeroDocumento)"><img src="assets/imagens/cartas.png" alt=""></td>
                        <td class="largura-celula" (click)="retornaCertificadoPorId(item.numeroDocumento)"><img src="assets/imagens/certificado.png" alt=""></td>
                        <td class="larguraDelet"><img src="assets/imagens/remover.png" alt="" (click)="excluirCarta(item.numeroDocumento)"></td>
                    </tr>
                </tbody>
                </nz-table>
                <nz-pagination [nzPageSize]="5" [nzTotal]="proposta?.length" (nzPageIndexChange)="onPageChange($event)">
                </nz-pagination>
            </div>
        </div>
    </div>
</div>