<app-menu-superior></app-menu-superior>
<div class="container">    
    <div class="conteudo">
        <div class="tabela">
            <h1 class="titulo">Lista de propostas</h1>
            <div class="conteudo_tabela">
                <nz-table #sortTable nzTableLayout="fixed" [nzShowPagination]="false" class="table">
                <thead>
                    <tr>
                    <th class="larguraId">ID</th>
                    <th class="larguraEmi">Emitente</th>
                    <th class="larguraFav">Favorecido</th>
                    <th class="larguraPin">PIN</th>
                    <th class="larguraVal">Valor</th>
                    <th class="larguraValC">Valor Cobrado</th>
                    <th class="larguraVenc">Vencimento</th>
                    <th class="larguraStatus">Status</th>
                    <th class="larguraData">Data de Emissão</th>
                    <th class="larguraCarta">Carta</th>
                    <th class="larguraCertif">Certif.</th>
                    <th class="larguraSubir">Subir Imagem</th>
                    <th class="larguraUp">Upload</th>
                    <th class="larguraEdit">Editar</th>
                    <th class="larguraDelet">Deletar</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="">
                    <td></td>
                    <td></td>
                    <td class="largura-celula"><img src="assets/imagens/editar-texto.png" alt=""></td>
                    </tr>
                </tbody>
                </nz-table>
                <nz-pagination [nzPageSize]="5">
                </nz-pagination>
            </div>
        </div>
    </div>
</div>