<app-menu-superior></app-menu-superior>
<div class="container">
    <div class="conteudo">
        <div class="titulo">
            <h1>Cadastro de emitente</h1>
        </div>
        <form action="">
            <div class="emitente">
                <input type="text" placeholder="Emitente:">
            </div>

            <div class="cpf">
                <input type="text" placeholder="CPF/CNPJ:">
            </div>

            <div class="rua">
                <input type="text" placeholder="Rua e Nº:">
            </div>

            <div class="bairro">
                <input type="text" placeholder="Bairro:">
            </div>

            <div class="cep">
                <input type="number" placeholder="CEP:">
            </div>

            <div class="cidade">
                <input type="text" placeholder="Cidade:">
            </div>
            
            <div class="estado">
                <select name="estadosBrasil" id="estadosBrasil">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>

            <div class="nomeContato">
                <input type="text" placeholder="Nome do contato:">
            </div>

            <div class="telefone">
                <input type="number" placeholder="Telefone:">
            </div>

        </form>
        
        <div class="botao">
                <button>Salvar</button>
            </div>
    </div>
</div>