<app-menu-superior></app-menu-superior>
<div class="container">
    <div class="conteudo">
        <div class="titulo">
            <h1>Cadastrar emitente</h1>
        </div>
        <form [formGroup]="formulario">
            <div class="emitente">
                <input type="text" placeholder="Emitente:" formControlName="emitente" [ngClass]="{'invalid-field': formulario.get('emitente')?.invalid && formulario.get('emitente')?.touched}">
            </div>

            <div class="cpf">
                <input type="text" placeholder="CPF/CNPJ:" formControlName="cpf_cnpj" [ngClass]="{'invalid-field': formulario.get('cpf_cnpj')?.invalid && formulario.get('cpf_cnpj')?.touched}">
            </div>

            <div class="rua">
                <input type="text" placeholder="Rua e Nº:" formControlName="endereco" [ngClass]="{'invalid-field': formulario.get('endereco')?.invalid && formulario.get('endereco')?.touched}">
            </div>

            <div class="numero">
                <input type="number" placeholder="Número:" formControlName="numero" [ngClass]="{'invalid-field': formulario.get('numero')?.invalid && formulario.get('numero')?.touched}">
            </div>

            <div class="bairro">
                <input type="text" placeholder="Bairro:" formControlName="bairro" [ngClass]="{'invalid-field': formulario.get('bairro')?.invalid && formulario.get('bairro')?.touched}">
            </div>

            <div class="cep">
                <input type="number" placeholder="CEP:" formControlName="cep" [ngClass]="{'invalid-field': formulario.get('cep')?.invalid && formulario.get('cep')?.touched}">
            </div>

            <div class="cidade">
                <input type="text" placeholder="Cidade:" formControlName="cidade" [ngClass]="{'invalid-field': formulario.get('cidade')?.invalid && formulario.get('cidade')?.touched}">
            </div>

            <div class="estado">
                <select name="estadosBrasil" id="estadosBrasil" formControlName="uf" [ngClass]="{'invalid-field': formulario.get('uf')?.invalid && formulario.get('uf')?.touched}">
                    <option value="" disabled selected class="uf">Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>

            <div class="nomeContato">
                <input type="text" placeholder="Nome do contato:" formControlName="nome_contato" [ngClass]="{'invalid-field': formulario.get('nome_contato')?.invalid && formulario.get('nome_contato')?.touched}">
            </div>

            <div class="telefone">
                <input type="number" placeholder="Telefone:" formControlName="telefone" [ngClass]="{'invalid-field': formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched}">
            </div>

        </form>

        <div class="botao" (click)="enviaDadosForm()">
                <button>Salvar</button>
            </div>

        </div>

        
        <div class="tabela">
            <div class="titu">
            <h1>Lista de emitentes</h1>
        </div>
        
            <table>
      
              <tr>
                <th>ID</th>
                <th>Emitente</th>
                <th>CPF/CNPJ</th>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>CEP</th>
                <th>Nome Contato</th>
                <th>Telefone</th>
                <th> <button ><img src="../../../assets/imagens/editar-texto.png" alt=""></button></th>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
              <tr>
                <td>000</td>
                <td>Electrolux</td>
                <td>124.889.169-43</td>
                <td>Rua Dep Waldemiro Pedroso</td>
                <td>Novo Mundo</td>
                <td>Curitiba</td>
                <td>PR</td>
                <td>81.050-150</td>
                <td>Matheus</td>
                <td>41 9 96986501</td>
                <td>botao</td>
              </tr>
      
            </table>
          </div>
        
</div>
