.container{
    max-width: unset;
    background-color: #ebebeb;
    border-top: solid 1px rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

input , select{
    width: 250px;
    border: 0.7px solid #b9bcce;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10px;
    color: #292929
}

.uf{
    color: #b9bcce;
}

.titulo{
    font-size: 40px;
    color: #292929;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.botao{
    align-items: baseline;
    display: flex;
    justify-content: center;
}

button{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 20px;
    width: 133px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 15px;
}

.invalid-field {
  border-color: red !important;
}
