.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: unset;
    background-color: #ebebeb;
    border-top: solid 1px rgb(0, 0, 0);
  }

  .titulo h1{
    font-size: 28px;
  }

  .conteudo {
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    padding: 20px;
    margin-top: 20px; /* Adicionando margem superior */
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    margin-top: 50px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  label {
    font-weight: bolder;
    color: #333;
  }

  input,
  select {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    grid-column: span 2; /* Ocupa duas colunas */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:hover {
    background-color: #0056b3;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .subtitle {
    font-size: 14px;
    color: #666;
  }

  .error-message {
    color: red;
    font-size: 14px;
  }

  .success-message {
    color: green;
    font-size: 14px;
  }

  .invalid-field {
    border-color: red !important;
  }


  @media (max-width: 600px) {
    form {
      grid-template-columns: 1fr;
    }
  }


