.conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    margin: auto;
    align-items: center;
}

.titulo{
    font-size: 38px;
    font-family: roboto;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 15px;
}

.texto{
    width: 50%;
}


.foto{
    margin-top: 20px;
    width: 40%;
    min-width: 340px;
    justify-content: space-around;
}