<app-menu-superior> </app-menu-superior>

<div class="conteudo">

    <div class="texto">
        <h1 class="titulo" >Relação de documentos <br> para <strong> cadastro </strong> </h1>

        <p> &bull; Fichas cadastrais pessoa física e jurídica (devidamente <br>
        preenchidas e assinadas) </p>

        <p> &bull; Contrato Social e suas alterações</p>

        <p> &bull; Balanços encerrados em 2011, 2012 e 2013, devidamente assinados <br>
        pelo contador e pelo representante legal da empresa </p>

        <p> &bull; Demonstrações do Resultado do Exercício (DRE) de 2011, 2012 e 2013 <br>
        devidamente assinados pelo contador e pelo representante legal da <br>
        empresa </p> 
    </div>

    <div class="foto">
        <img src="../../../assets/imagens/cadastro.png" alt="">
    </div>

</div>