.conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    margin: auto;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 100px;
}

.titulo{
    font-size: 38px;
    font-family: roboto;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 15px;
}

.texto{
    width: 50%;
}


.foto{
    margin-top: 20px;
    width: 40%;
    min-width: 340px;
    justify-content: space-around;
}

select{
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 46px;
}

.download{
    display: flex;
    align-items: center;
    gap: 15px;
}


.download button{
    padding: 11px 17px;
    background-color: #080C22;
    color: white;
}