.container{
  max-width: unset;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.conteudo{
    gap: 10px;
    background-color: #080C22;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-top: solid 1px #D8D8D8;
    height: calc(100vh - 221px);
    // height: 100vh;
}

.conteudo h1{
  color: white;
}

.bloco_logado{
  border-top: solid 1px #D8D8D8;
    background-color: #080C22;
}

.bloco_logado p{
  color: black;
}

.bloco_admin{
  display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: #ebebeb;
    min-height: calc(100vh - 222px);
}

h1{
    font-size: 40px;
    color: #000000;
}

input{
    width: 250px;
    border: 0.7px solid #474A5B;
    background-color: #06091C;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 20px;
    width: 133px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}


.titulo{
  font-size: 40px;
  font-weight: 300;
  margin-top: 60px;
}

@media (max-width: 1015px) {
  .conteudo{
    height: calc(100vh - 280px);
  }
}

form{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.invalid-field {
  border-color: red !important;
}


.bloco_user{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.conteudo_pdf{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pdf{
  width: 80vh;
}

.pdf img{
  height: 100%;
}

.escolha button{
  margin-right: 20px;
}

.escolha{
  margin-bottom: 30px;
  display: flex;
}

.deseja{
  margin-bottom: 25px;
  margin-top: 25px;
  color: white;
}

// media query
@media (max-width: 800px) {
  .pdf{
    width: unset;
  }

}


/* Estilos para os blocos */
.bloco {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* Estilos para o título dos blocos */
.bloco h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Estilos para o texto dos blocos */
.bloco p {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Estilos para os botões dos blocos */
.bloco button {
  padding: 5px 10px;
  background-color: #C8AE7B;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bloco button:hover {
  background-color: #af9560;
}

.desc{
  margin-bottom: 80px;
}

.botoes{
  display: flex;
    justify-content: space-around;
}


.blocos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}