<app-menu-superior></app-menu-superior>

<div class="container">
  <div class="conteudo" *ngIf="!logado">
    <h1 class="titulo">Acesse sua conta</h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <input type="text" placeholder="Entre com o pin"  formControlName="username" [ngClass]="{'invalid-field': formulario.get('username')?.invalid && formulario.get('username')?.touched}">
      <input type="password" placeholder="Entre com a senha"  formControlName="password" [ngClass]="{'invalid-field': formulario.get('password')?.invalid && formulario.get('password')?.touched}">

      <button *ngIf="!carregando">Entrar</button>
      <button *ngIf="carregando"  [disabled]="carregando"><nz-spin nzSimple></nz-spin> </button>


    </form>
  </div>

  <div class="bloco_logado" *ngIf="logado">
    <div class="bloco_admin" *ngIf="logado && admin">
      <h1 class="titulo">Bem vindo, admin</h1>
      <p>Seja bem vindo a sua conta, aqui você pode acessar todas as funcionalidades do sistema.</p>

    </div>

    <div class="bloco_user" *ngIf="logado && !admin">

      <div class="conteudo_pdf">

        <h1 class="deseja">O que deseja visualizar?</h1>

          <div class="escolha">
            <button (click)="retornarProposta()">Carta fiança</button>
            <button (click)="retornaCertificado()">Certificado</button>
          </div>

        <div class="pdf" *ngIf="escolhaTipo == 'proposta'">
          <iframe [src]="pdfUrlCarta" width="100%" height="600px"></iframe>
        </div>

        <div class="pdf" *ngIf="escolhaTipo == 'certificado'">
          <iframe [src]="pdfUrlCertificado" width="100%" height="600px"></iframe>
        </div>

        
      </div>

    </div>

  </div>
</div>


<app-rodape></app-rodape>
