<app-menu-superior></app-menu-superior>

<div class="container">
  <div class="conteudo">
    <h1 class="titulo">Acesse sua conta</h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <input type="text" placeholder="Entre com o pin"  formControlName="username" [ngClass]="{'invalid-field': formulario.get('username')?.invalid && formulario.get('username')?.touched}">
      <input type="password" placeholder="Entre com a senha"  formControlName="password" [ngClass]="{'invalid-field': formulario.get('password')?.invalid && formulario.get('password')?.touched}">

      <button>Entrar</button>
    </form>
</div>
</div>


<app-rodape></app-rodape>
