.container{
  max-width: unset;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.conteudo{
    gap: 10px;
    background-color: #080C22;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-top: solid 1px #D8D8D8;
    height: calc(100vh - 221px);
    // height: 100vh;
}


.bloco_logado{
  border-top: solid 1px #D8D8D8;
    background-color: #080C22;
    height: 100vh;
}

.bloco_logado p{
  color: white;
}

.bloco_admin{
  display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    color: #FFFFFF;
}

input{
    width: 250px;
    border: 0.7px solid #474A5B;
    background-color: #06091C;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 20px;
    width: 133px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.titulo{
  font-weight: 300;
}

@media (max-width: 1015px) {
  .conteudo{
    height: calc(100vh - 280px);
  }
}

form{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.invalid-field {
  border-color: red !important;
}


.bloco_user{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.conteudo_pdf{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pdf{
  width: 60%;
}

.escolha button{
  margin-right: 20px;
  margin-bottom: 20px;
}