.container{
  max-width: unset;
}

.conteudo{
    gap: 10px;
    background-color: #080C22;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-top: solid 1px #D8D8D8;
    height: calc(100vh - 221px);
}

h1{
    font-size: 40px;
    color: #FFFFFF;
}

input{
    width: 250px;
    border: 0.7px solid #474A5B;
    background-color: #06091C;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    background: #C8AE7B;
    color: #FFFFFF;
    padding: 11px 20px;
    width: 133px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.titulo{
  font-weight: 300;
}

@media (max-width: 1015px) {
  .conteudo{
    height: calc(100vh - 280px);
  }
}

form{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.invalid-field {
  border-color: red !important;
}
