<div class="bloco">
  <div class="conteudo">
    <div class="bloco-esquerda">
      <h1>Dúvidas? Feedbacks? Entre em contato conosco!</h1>

      <p>Utilize o formulário ao lado para entrar em contato conosco. Seja para esclarecer dúvidas, receber suporte técnico ou fornecer feedback, nossa equipe está pronta para atendê-lo. <br> <br>

        Prometemos responder o mais breve possível. Sua opinião é fundamental para aprimorarmos nossos serviços. Aguardamos sua mensagem!</p>

        <span> <img src="assets/imagens/Envelope.png" alt=""> email@aqui.com</span>
        <span> <img src="assets/imagens/whatts.png" alt=""> 11 1234-5678</span>

        <span class="preocupe">Não se preocupe, nós nunca te enviaremos spam, ok?</span>
    </div>
    <div class="bloco-direita">
      <form [formGroup]="formulario">
        <input type="text" placeholder="Seu nome*" formControlName="nome" [ngClass]="{'invalid-field': formulario.get('nome')?.invalid && formulario.get('nome')?.touched}">


        <div>
          <input type="text" placeholder="Telefone*" formControlName="telefone" [ngClass]="{'invalid-field': formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched}">
          <input type="email" placeholder="Email*" formControlName="email" [ngClass]="{'invalid-field': formulario.get('email')?.invalid && formulario.get('email')?.touched}">
        </div>
        <input type="text" placeholder="Assunto*" formControlName="assunto" [ngClass]="{'invalid-field': formulario.get('assunto')?.invalid && formulario.get('assunto')?.touched}">
        <textarea name="" id="" cols="20" rows="10" placeholder="Mensagem" class="mensagem" formControlName="mensagem" [ngClass]="{'invalid-field': formulario.get('mensagem')?.invalid && formulario.get('mensagem')?.touched}"></textarea>

        <button (click)="enviar()" *ngIf="!enviando">Enviar mensagem</button>
        <button *ngIf="enviando">Enviando <nz-spin ></nz-spin></button>
      </form>
    </div>
  </div>
</div>
