<div class="bloco">
  <div class="conteudo">
    <div class="bloco-esquerda">
      <h1>Dúvidas? Feedbacks? Entre em contato conosco!</h1>

      <p>Utilize o formulário ao lado para entrar em contato conosco. Seja para esclarecer dúvidas, receber suporte técnico ou fornecer feedback, nossa equipe está pronta para atendê-lo. <br> <br>

        Prometemos responder o mais breve possível. Sua opinião é fundamental para aprimorarmos nossos serviços. Aguardamos sua mensagem!</p>

        <span> <img src="assets/imagens/Envelope.png" alt=""> email@aqui.com</span>
        <span> <img src="assets/imagens/whatts.png" alt=""> 11 1234-5678</span>

        <span class="preocupe">Não se preocupe, nós nunca te enviaremos spam, ok?</span>
    </div>
    <div class="bloco-direita">
      <form [formGroup]="formulario">
        <input type="text" placeholder="Seu nome*" formControlName="nome">
        <div>
          <input type="text" placeholder="Telefone*" formControlName="telefone">
          <input type="email" placeholder="Email*" formControlName="email">
        </div>
        <input type="text" placeholder="Assunto*" formControlName="assunto">
        <textarea name="" id="" cols="20" rows="10" placeholder="Mensagem" class="mensagem" formControlName="mensagem"></textarea>

        <button (click)="enviar()">Enviar mensagem</button>
      </form>
    </div>
  </div>
</div>
