<div class="container">
  <div class="conteudo">
    <div class="cima">
      <div class="logo">
        <img src="../../../assets/imagens/logo-rodape.png" alt="">
      </div>

      <div class="link">
        <a href=""> Quem Somos</a>
        <a href=""> Serviços</a>
        <a href=""> Cadastro</a>
        <a href=""> Contato</a>
      </div>
      
      <div class="redes">
        <img src="../../../assets/imagens/whats-rodape.png" alt="">
        <img src="../../../assets/imagens/insta-rodape.png" alt="">
        <img src="../../../assets/imagens/linkdin-rodape.png" alt="">
        <img src="../../../assets/imagens/facebook-rodape.png" alt="">
      </div>
    </div>

    <div class="baixo">
      <p>© 2024. Todos os direitos reservados à BNCGBank | CNPJ: 42.444.736/0001-07</p>
    </div>
  </div>
</div>