<div class="container">
  <div class="conteudo">
    <div class="cima">
      <div class="logo">
        <img src="../../../assets/imagens/logo-rodape.png" alt="">
      </div>

      <div class="link">
        <a  (click)="scrollTo('somos')"> Quem Somos</a>
        <a  (click)="scrollTo('servicos')"> Serviços</a>
        <a  (click)="scrollToCadastro()"> Cadastro</a>
        <a  (click)="scrollTo('contato')"> Contato</a>
      </div>

      <div class="redes">
        <a href=""><img src="../../../assets/imagens/whats-rodape.png" alt="whatsapp"></a>
        <a href=""><img src="../../../assets/imagens/insta-rodape.png" alt="instagram"></a>
        <a href=""><img src="../../../assets/imagens/linkdin-rodape.png" alt="linkedin"></a>
        <a href=""><img src="../../../assets/imagens/facebook-rodape.png" alt="facebook"></a>
      </div>
    </div>

    <div class="baixo">
      <p>© 2024. Todos os direitos reservados à BNCGBank | CNPJ: 42.444.736/0001-07</p>
    </div>
  </div>
</div>
